.header_container {
    top: 20px;
    right: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 999;
};

.lang_switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 82px;
    height: 59px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    outline: none;
    border: none;
    font-family: "Exo2-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.lang {
    color: #181818;
    text-align: center;
    font-family: "Exo2-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.polygon {
    margin-top: 2px;
};

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    outline: none;
    border: none;
};

.menu_icon {
    color: #181818;
    width: 24px;
    height: 35px;
};

.lang_menu_active {
    position: absolute;
    top: 59px;
    left: 0px;
    padding: 20px;
    width: 42px;
    height: 50px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
};

.lang_menu {
    display: none;
};

.polygon_reverse {
    margin-top: 2px;
    rotate: (180deg);
};






.mobile_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999;
    box-sizing: border-box;
    padding: 20px 20px 120px 20px;
    pointer-events: none;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
};

.mobile_menu_active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999;
    box-sizing: border-box;
    padding: 20px 20px 120px 20px;
    pointer-events: none;
    transform: translateX(0%);
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
};

.mobile_menu_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 35px;
};

.current {
    font-family: "Exo2-Bold";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    background: linear-gradient(180deg, #FFC700 0%, rgba(255, 229, 0, 0.50) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
};

.nav {
    color: #00A3FF;
    font-family: "Exo2-Bold";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
};

.button_support {
    margin: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    gap: 5px;
    width: 350px;
    height: 60px;
    margin-top: 30px;
    border-radius: 16px;
    color: #fff;
    background: #00A3FF;
    font-family: 'Exo2-Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.mobile_menu_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
};

.mobile_lang_switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 82px;
    height: 59px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFC700 0%, rgba(255, 229, 0, 0.50) 100%);
    outline: none;
    border: none;
    font-family: "Exo2-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.close_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFC700 0%, rgba(255, 229, 0, 0.50) 100%);
    outline: none;
    border: none;
};

.close_menu_icon {
    color: #181818;
    width: 24px;
    height: 35px;
};
