
.intro_container_wrapper {
    width: 100vw;
    z-index: 4;

    @media screen and (min-width: 1440px) {
        z-index: inherit;
        background-color: #E6E6E6;
    };
    
}

.intro_container {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        padding: 70px 20px 148px 20px;
    };

    @media screen and (min-width: 1280px) {
        padding: 70px 100px 148px 100px;
    };

    @media screen and (min-width: 1440px) {
        padding: 70px 163px 204px 163px;
    };
};

.intro_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        max-width: 1440px;
    };

    @media screen and (min-width: 1440px) {
        z-index: 7;
    };

}

.logo_container {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 0px 0px 30px 0px;

    @media screen and (min-width: 1024px) {
        padding: 0px;
        max-width: 527px;
    };
};

.logo {
    @media screen and (min-width: 1024px) {
        width: 342px;
        height: 277px;
    };
};

.logo_text1 {
    margin: 20px 0px 0px 0px;
    color: #005382;
    font-family: "Exo2-Light";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    @media screen and (min-width: 768px) {
        margin: 40px 0px 0px 0px;
    };

    @media screen and (min-width: 1024px) {
        font-size: 45px;
    };
};

.logo_text2 {
    margin: 0px;
    color: #005382;
    text-align: center;
    font-family: "Exo2-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1024px) {
        font-size: 45px;
    };
};

.supported_container {
    position: relative;
    width: 100%;
    min-width: 280px;
    max-width: 350px;
    height: 265px;
    padding: 30px 20px 30px 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.20);

    @media screen and (min-width: 1024px) {
        margin-top: auto;
        max-width: 441px;
        width: 441px;
        height: 330px;
        padding: 30px 30px 35px 30px;
    };
};

.supported_logo {
    margin: 19px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 254px;


    @media screen and (min-width: 1024px) {
        max-width: 302px;
        margin: 26px 0px 0px 0px;
        gap: 25px;
    };
    
};

.special_logo {
    @media screen and (min-width: 1024px) {
        width: 205px;
        height: 41px;
    };
};

.line {
    height: 46px;
};

.parzival_logo {
    display: block;
    width: 37px;
    height: 42px;

    @media screen and (min-width: 1024px) {
        width: 46px;
        height: 52px;
    };
};

.supported_link {
    width: 197px;
    color: #00A3FF;
    font-family: "Exo2-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 20px 0px 20px 0px;

    @media screen and (min-width: 1024px) {
        width: 100%;
        margin: 36px 0px 54px 0px;
    };
};

.supported_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    color: #181818;
    font-family: "Exo2-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.supported_text1 {
    max-width: 245px;
    display: flex;
    align-items: center;
    margin: 4px 0px 0px 0px;
    color: #181818;
    font-family: "Exo2-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 1024px) {
        margin: 18px 0px 0px 0px;
    };
};

.flags {
    margin-left: 4px;
    width: 12px;
    height: 12px;
};

.button_more {
    position: absolute;
    top: 20px;
    right: 20px;

    @media screen and (min-width: 1024px) {
        top: 30px;
        right: 30px;
    };
};

.buttons_container {
    width: 100%;
    max-width: 390px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 70px 0px;
    gap: 10px;

    @media screen and (min-width: 768px) {
        max-width: 1024px;
        flex-direction: row;
        justify-content: space-around;
        padding: 75px 0px 0px 0px;
    };
    
    @media screen and (min-width: 1024px) {
        max-width: 1440px;
        justify-content: space-around;
    };

    @media screen and (min-width: 1440px) {
        z-index: 7;
    };

};

.button_support {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 60px;
    padding: 20px 30px;
    border-radius: 16px;
    color: #181818;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFC700 0%, #FFE500 100%);
    font-family: 'Exo2-Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 768px) {
        width: 350px;
    };

    @media screen and (min-width: 1024px) {
        width: 527px;
    };
};

.handshake {
    margin-right: 10px;
};

.button_read {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 60px;
    padding: 20px 30px;
    border-radius: 16px;
    color: #fff;
    border-radius: 16px;
    background: #00A3FF;
    font-family: 'Exo2-Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 768px) {
        width: 350px;
    };
    
    @media screen and (min-width: 1024px) {
        width: 441px;
    };
};
