
body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Exo2-Light';
  src: url(./fonts/Exo2__Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Exo2-Regular';
  src: url(./fonts/Exo2__Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Exo2-Bold';
  src: url(./fonts/Exo2__Bold.woff2) format('woff2');
}



