.container {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding-bottom: 456px;
};

.background_wrapper1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 513px;
    height: 832px;
    background: url("../../images/background_1.png") lightgray 50%;
    z-index: 0;
    filter: blur(25px);
    z-index: 1;
};

.background_wrapper2 {
    width: 575px;
    height: 630px;
    position: absolute;
    top: 3054px;
    background: url("../../images/background_2.png") lightgray 50% / cover no-repeat;
    filter: blur(15px);
    z-index: 1;
};

.background_wrapper3 {
    position: absolute;
    bottom: 0px;
    width: 572px;
    height: 1375px;
    background: url("../../images/background_3.png") lightgray -804.937px 0px / 381.447% 100%;
    filter: blur(25px);
    z-index: 1;
};

.gradient_wrapper1 {
    width: 100%;
    height: 210px;
    position: absolute;
    top: 664px;
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, #F4F4F4 100%);
    flex-shrink: 0;
    z-index: 2;
};  

.gradient_wrapper2 {
    width: 100%;
    height: 314px;
    position: absolute;
    top: 3054px;
    background: linear-gradient(0deg, rgba(244, 244, 244, 0.00) 0%, #F4F4F4 100%);
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: 2;
};

.gradient_wrapper3 {
    width: 100%;
    height: 70px;
    position: absolute;
    // top: 3625px;
    top: 3625px;
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, #F4F4F4 100%);
    flex-shrink: 0;
    z-index: 3;
};




.content_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    z-index: 3;
};

.logo_container {
    width: 100%;
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
};

.buttons_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 30px 20px 70px 20px;
    gap: 10px;
};

.button_support {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 60px;
    padding: 20px 30px;
    border-radius: 16px;
    color: #181818;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFC700 0%, #FFE500 100%);
    font-family: 'Exo2-Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.handshake {
    margin-right: 10px;
};

.button_read {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 60px;
    padding: 20px 30px;
    border-radius: 16px;
    color: #fff;
    border-radius: 16px;
    background: #00A3FF;
    font-family: 'Exo2-Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.logo_text1 {
    margin: 20px 0px 0px 0px;
    color: #005382;
    font-family: "Exo2-Light";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
};

.logo_text2 {
    margin: 0px 0px 30px 0px;
    color: #005382;
    text-align: center;
    font-family: "Exo2-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.services_container {
    width: 100vw;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background: #F4F4F4;
};

.supported_container {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 265px;
    padding: 30px 20px 30px 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.20);
};

.supported_logo {
    margin: 19px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 254px;
};

.parzival_logo {
    display: block;
    width: 37px;
    height: 42px;
};

.supported_link {
    width: 197px;
    color: #00A3FF;
    font-family: "Exo2-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 20px 0px 20px 0px;
};

.supported_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    color: #181818;
    font-family: "Exo2-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.supported_text1 {
    max-width: 245px;
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
    color: #181818;
    font-family: "Exo2-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.flags {
    margin-left: 4px;
    width: 12px;
    height: 12px;
};

.button_more {
    position: absolute;
    top: 20px;
    right: 20px;
};

.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 160px 20px 0px 20px;
    background: #F4F4F4;
};

.about_title {
    color: #00A3FF;
    font-family: "Exo2-Light";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 30px;
};

.about_image_container {
    width: 100%;
    max-width: 350px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
};

.about_teamPhoto1 {
    align-self: flex-end;
    display: block;
    width: 255px;
    height: 187px;
    transform: rotate(4.673deg);
    border-radius: 24px;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.10);
    object-fit: cover;
};

.about_teamPhoto2 {
    align-self: flex-start;
    display: block;
    width: 187px;
    height: 138px;
    transform: rotate(-4.17deg);
    border-radius: 24px;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.10);
    margin-top: -10px;
    object-fit: cover;
};

.about_teamPhoto3 {
    align-self: flex-end;
    display: block;
    width: 200px;
    height: 153px;
    margin-right: 50px;
    transform: rotate(3.776deg);
    border-radius: 24px;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.10);
    margin-top: -15px;
    object-fit: cover;
};

.about_text {
    margin-top: 30px;
    color: #181818;
    font-family: "Exo2-Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
};

.about_link {
    align-self: flex-start;
    color: #00A3FF;
    font-family: "Exo2-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 20px;
};

.container_title1 {
    color: #00A3FF;
    text-align: center;
    font-family: "Exo2-Light";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
};

.container_title2 {
    color: #00A3FF;
    font-family: "Exo2-Bold";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.partners_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 20px 40px 20px;
    background: #F4F4F4;
};

.partners_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14.5px;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
};

.partners_list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 107px;
    height: 64px;
    border-radius: 16px;
    background-color: #00A3FF;
};

.partners_logo2 {
    width: 100%;
    height: 70%;
};

.partners_logo3 {
    width: 120%;
    height: 70%;
};

.partners_logo4 {
    width: 100%;
    height: 95%;
};

.partners_logo10 {
    width: 60%;
    height: 100%;
};

.team_container {
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 20px 70px 20px;
};

.team_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    height: 640px;
};

.team_list_item1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 15px;
    width: 168px;
    height: 226px;
    border-radius: 24px;
    background: url("../../images/team/team_member_1.png") lightgray 0% 0% / 22.40000069141388px 22.40000069141388px no-repeat;
    background-size: cover;
};

.team_list_item2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 15px;
    width: 168px;
    height: 226px;
    border-radius: 24px;
    background: url("../../images/team/team_member_2.png") lightgray 0% 0% / 22.40000069141388px 22.40000069141388px no-repeat;
    background-size: cover;
};

.team_list_item3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 15px;
    width: 168px;
    height: 226px;
    border-radius: 24px;
    background: url("../../images/team/team_member_3.png") lightgray 0% 0% / 22.40000069141388px 22.40000069141388px no-repeat;
    background-size: cover;
};

.team_list_item4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 15px;
    width: 168px;
    height: 226px;
    border-radius: 24px;
    background: url("../../images/team/team_member_4.png") lightgray -26.094px -5.802px / 131.25% 146.512% no-repeat;
    background-size: cover;
    background-position: top;
    background-size: 130%;
};

.team_list_names {
    z-index: 2;
};

.team_list_name {
    color: #00A3FF;
    font-family: "Exo2-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

.team_list_surname {
    color: #00A3FF;
    font-family: "Exo2-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
};

.team_list_job {
    margin-top: 5px;
    color: #181818;
    font-family: "Exo2-Bold";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2;
};

.team_list_layer {
    position: absolute;
    bottom: 0px;
    width: 168px;
    height: 107px;
    border-radius: 0px 0px 24px 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    z-index: 1;
};

.news_container {
    width: 100vw;
    min-width: 280px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    background: #F4F4F4;
};

.news_button {
    display: flex;
    width: 229px;
    height: 59px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #00A3FF;
    text-decoration: none;
    color: #FFF;
    font-family: "Exo2-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
};

.reviews_container {
    width: 100vw;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px 0px 90px 0px;
};








